/* buttons */
.btn-default {
  background: transparent;
}
.btn-default:hover {
  color: #999;
}

.btn-action {
  background: #eb615f;
}
.btn-action:hover {
  background: #c83f3d;
}

.btn-default, .btn-action {
  border: 1px solid #eb615f;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  font-family: 'Lobster', cursive;
  font-size: 1.2em;
  padding: 5px 10px;
  text-decoration: none;
}