/* stylesheet */

/* layout */
body, html {
  height: 100%
}
body {
  background: @body;
  color: @white;
  font-size: 14px;
  font-family: arial;
  margin: 0;
  padding: 0;
}

header {
  background: @header;
  box-sizing: border-box;
  height: 60px;
  padding: 1.3em;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9999;
}

header img {
  display: inline-block;
  text-align: left;
  margin-top: -1em
}

section {
  width: 100%
}

footer {
  background: @footer;
  height: 60px;
  font-size: 0.8em;
  padding: 2em;
  box-sizing: border-box;
  color: @footer-text;
  z-index: 2000
}

footer a {
 text-decoration: none;
 margin: 0
}

footer .icons-devs-networks {
  float: right;
  margin-top: -0.2em;
  font-size: 3em
}

.img-circle {
  border-radius: 100%
}

footer img {
  margin-right: 0.1em;
  height: 30px
}

a {
  color: @white;
}

.container {
  width: 990px;
  margin: 0 auto;
}

.hidden {
    display: none;
}

