/* lists */

li {
  list-style: none;
}

ul {
	margin: 0;
	padding: 0;
}

header ul.horizontal {
  float: right;
  margin: 0
}
ul.horizontal li {
  display: inline-block;
  padding-right: 0.5em;
  padding-top: 0
}

#chat-content li {
  margin-bottom: 5px;
  font-size: 0.9em;
  img {
  	max-width: 200px;
  	max-height: 150px;
  }
}


