// style for the different articles (sections in the site)

#space {
	background: @space-section;
	height: 700px;
	.container {
		height: 700px;
	}
}

#sky {
	height: 800px;
	background: @sky-section;
	.instructions {
		background: image-url("sky/hangingcloud.png");
		height: 526px;
		width: 442px;
		margin-right: auto;
		margin-left: auto;
		color: @sky-section;
		padding-top: 355px;
		padding-left: 10px;
		box-sizing: border-box;
		.instructions-slide {
			height: 120px;
			width: 400px;
			.prev, .next {
				font-size: 40px;
				padding-top: 30px;
				cursor: pointer;
			}
			.prev {
				float: left;
			}
			.next {
				float: right;
			}
			.item {
				float: left;
				height: 110px;
				margin: 0 10px;
				overflow: hidden;
				text-align: center;
				width: 310px;
			}
			.prev.disabled, .next.disabled {
				color: @blue-disabled;
			}
		}
	}
}

#city {
	height: 550px;
	background: @city-section;
	.container {
		height: 550px;
	}
	.how-to-start {
		width: 250px;
		margin-top: 100px;
		color: @sky-text;
	}
	.signup-form {
		background: image-url("city/boat.png") no-repeat;
		height: 462px;
		width: 612px;
		padding-top: 200px;
		padding-left: 80px;
		text-transform: uppercase;
		h4 {
			margin: 0 0 5px;
		}
	}
}

#ocean {
	height: 600px;
	background: @ocean-section;
	.container {
		height: 600px;
	}
	.online-players {
		padding-top: 150px;
		ul {
			padding: 0;
			li {
				list-style: none;
			}
		}
	}	
}
.chatzone-home {
  background: rgba(0, 87, 106, 0.5);
  bottom: 70px;
  border-radius: 10px;
  height: 400px;
  margin-top: 5em;
  padding: 15px 20px;
  position: fixed;
  right: 50px;
  width: 280px;
  z-index: 9999;
  #chat-content {
  	height: 300px;
  	overflow-y: scroll;
  }
}

#gamepage {
  article {
  	padding-top: 100px;
  }
  ul#answers {
    li {
    	list-style: none;
    	background: @blue;
    	border-radius: 4px;
    	margin-bottom: 5px;
    }
  }
}