// style for the different articles (sections in the site)

#space {
	background: @space-section;
	height: 700px;
	.container {
		height: 700px;
	}
}

#sky {
	height: 800px;
	background: @sky-section;
	.instructions {
		background: image-url("sky/hangingcloud.png");
		height: 526px;
		width: 442px;
		margin-right: auto;
		margin-left: auto;
		color: @sky-section;
		padding-top: 355px;
		padding-left: 10px;
		box-sizing: border-box;
		.instructions-slide {
			height: 120px;
			width: 400px;
			.prev, .next {
				font-size: 40px;
				padding-top: 30px;
				cursor: pointer;
			}
			.prev {
				float: left;
			}
			.next {
				float: right;
			}
			.item {
				float: left;
				height: 110px;
				margin: 0 10px;
				overflow: hidden;
				text-align: center;
				width: 310px;
			}
			.prev.disabled, .next.disabled {
				color: @blue-disabled;
			}
		}
	}
}

#city {
	height: 550px;
	background: @city-section;
	.container {
		height: 550px;
	}
	.how-to-start {
		width: 250px;
		margin-top: 100px;
		color: @sky-text;
	}
	.signup-form {
		background: image-url("city/boat.png") no-repeat;
		height: 462px;
		width: 612px;
		padding-top: 200px;
		padding-left: 80px;
		text-transform: uppercase;
		h4 {
			margin: 0 0 5px;
		}
	}
}

#ocean {
	height: 600px;
	background: @ocean-section;
	.container {
		height: 600px;
	}
	.online-players {
		padding-top: 150px;
		ul {
			padding: 0;
			li {
				list-style: none;
			}
		}
	}	
}
.chatzone {
  background: rgba(0, 182, 182, 0.5);
  height: 100%;
  padding: 0 20px;
  position: fixed;
  right: 0;
  top: 0;
  width: 240px;
  z-index: 9999;
  #userwrap {
  	box-sizing: border-box;
  	height: 60px;
  	font-size: 20px;
  	padding-top: 1em;
  	width: 100%;
  	.close-btn {
  		border: 1px solid transparent;
  		border-radius: 4px;
  		cursor: pointer;
  		padding: 6px 10px;
  		position: absolute;
  		right: 10px;
  		top: 10px;
  	}
  	.close-btn:hover {
  		background: @red;
  		border: 1px solid @white;
  	}
  }
  #usersListWrap {
  	box-sizing: border-box;
    border-bottom: 1px solid @dark-blue;
    padding-bottom: 10px;
    padding-top: 1em;
    margin-bottom: 10px;
  }
  #chatwrap {
  	box-sizing: border-box;
  	height: 350px;
  	#chat-content {
	  	height: 280px;
	  	overflow-y: scroll;
	  	background: @chatcontent;
	  	border-radius: 4px;
	  	color: @black;
	  	padding: 5px;
	  	margin-bottom: 6px;
	  }
  }
}

#gamepage {
	height: 100%;
	margin-bottom: -60px;
  article {
  	padding-top: 100px;
  }
  ul#answers {
    li {
    	list-style: none;
    	background: @blue;
    	border-radius: 4px;
    	margin-bottom: 5px;
    }
  }
}

#loader {
	background: @header;
	color: @lightgray;
	width: 100%;
	height: 100%;
	.container {
		width: 300px;
		margin-left: auto;
		margin-right: auto;
		padding-top: 300px;
		text-align: center;
		.fa {
			display: block;
			margin-top: 30px;
			font-size: 2em
		}
	}
}

