// style for the different articles (sections in the site)

#space {
	background: @space-section;
	height: 700px;
	.container {
		height: 700px;
	}
}

#sky {
	height: 800px;
	background: @sky-section;
	.instructions {
		background: image-url("sky/hangingcloud.png");
		height: 526px;
		width: 442px;
		margin-right: auto;
		margin-left: auto;
		color: @sky-section;
		padding-top: 355px;
		padding-left: 10px;
		box-sizing: border-box;
		.instructions-slide {
			height: 130px;
			width: 400px;
			.prev, .next {
				font-size: 40px;
				padding-top: 30px;
				cursor: pointer;
			}
			.prev {
				float: left;
			}
			.next {
				float: right;
			}
			.item {
				float: left;
				height: 120px;
				margin: 0 50px;
				overflow: hidden;
				text-align: center;
				width: 310px;
				h3 {
					margin-top: 0;
					font-weight: 600;
				}
			}
			.prev.disabled, .next.disabled {
				color: @blue-disabled;
			}
		}
	}
}

#city {
	height: 500px;
	background: @city-section;
	.container {
		height: 500px;
	}
	.how-to-start {
		width: 250px;
		margin-top: 100px;
		color: @sky-text;
	}
	.signup-form {
		background: image-url("city/boat.png") no-repeat;
		height: 462px;
		width: 612px;
		padding-top: 200px;
		padding-left: 80px;
		text-transform: uppercase;
		h4 {
			margin: 0 0 5px;
		}
	}
}

#ocean {
	height: 600px;
	background: @ocean-section;
	.container {
		height: 600px;
	}
  .online-players {
    padding-top: 300px;
    z-index: 9999;
    h2 {
      color: @white;
      width: 300px
    }
  }
}
.chatzone {
  background: rgba(0, 182, 182, 0.5);
  height: 100%;
  position: fixed;
  right: 0;
  top: 0;
  width: 280px;
  z-index: 9999;
  #userwrap {
    background: @sky-section;
  	box-sizing: border-box;
  	height: 60px;
  	font-size: 20px;
  	padding-top: 1em;
    padding-left: 20px;
    padding-right: 20px;
  	width: 100%;
  	.username {
  		display: inline-block;
  	}
    .close-btn {
      margin-top: -6px;
    }
  }
  #usersListWrap {
  	box-sizing: border-box;
    border-bottom: 1px solid @dark-blue;
    padding-bottom: 10px;
    padding-top: 1em;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 10px;
  }
  #chatwrap {
  	box-sizing: border-box;
  	height: 350px;
    padding-left: 20px;
    padding-right: 20px;
  	#chat-content {
	  	height: 280px;
	  	overflow-y: scroll;
	  	background: @chatcontent;
	  	border-radius: 4px;
	  	color: @black;
	  	padding: 5px;
	  	margin-bottom: 6px;
	  }
  }
}


#gamepage {
	background: image-url("gamepage/clouds.png") repeat-x 0 -50px;
	height: 100%;
  article {
  	height: 85%;
  	width: 100%;
  }
  .waves {
  	height: 15%;
  	width: 100%;
  	position: relative;
  	.wave1 {
  		background: image-url("ocean/wave-1.png") no-repeat;
  		width: 2300px;
  		height: 80px;
  		z-index: 1;
  	}
  	.wave2 {
  		background: image-url("ocean/wave-2.png") no-repeat;
  		
  		height: 80px;
  		z-index: 1;
  	}
  	.wave3 {
  		background: image-url("ocean/wave-3.png") no-repeat;
  		width: 2300px;
  		height: 80px;
  		z-index: 1;
  	}
  	.wave1, .wave2, .wave3 {
  		position: absolute;
  		top: 0px;
  		left: 0px;
  		width: 2300px;
  		background-size: 2300px;
  		height: 100%;
  	}
  }
  ul#answers {
    li {
    	list-style: none;
    	background: @gray-questions;
    	margin-bottom: 1em;
    	color: @lightgray;
    	width: 400px;
    	display: block;
    	padding: 7px 10px;
    	cursor: pointer;
    }
    li:hover {
    	background: @sky-section;
    	color: darken(@sky-section, 40%);
    }
  }
  .questionwrap {
  	display: inline-block;
  	height: 100%;
  	vertical-align: top;
  	margin-top: 90px;
  	width: 400px;
    #question {
	    background: @gray-questions;
	    padding: 7px 10px;
	    margin-bottom: 1em;
	    color: @white;
	    font-size: 1em;
	    height: 120px;
	    width: 100%;
	  }	
	  .category {
	  	margin-bottom: 1em;
	  	width: 70px;
	  	margin-right: 275px;
	  }
	  .countdown {
	  	background: image-url("gamepage/countdown-bg.png") no-repeat;
	  	color: @red;
	  	font-size: 1.8em;
	  	text-align: center;
	  	height: 45px;
	  	width: 45px;
	  	padding-top: 8px;
	  }
	  .countdown, .category {
	  	display: inline-block;
	  }
  }
  .categories {
  	display: inline-block;
  	height: 100%;
  	margin-right: 5em;
  	margin-top: 90px;
  	vertical-align: top;
  	width: 230px;
  	h1 {
  		text-transform: uppercase;
  		color: @blue;
  		font-size: 23px;
  		font-weight: 300;
  	}
  }
  #sport, #geography, #history, #science, #art, #entertainment {
  	display: inline-block;
  	height: 79px;
  	width: 82px;
  	margin: 0 1em 1em 0
  }
  #sport {
  	background: image-url("categories/sport.png") no-repeat;
  }
  #geography {
  	background: image-url("categories/geography.png") no-repeat;
  }
  #history {
  	background: image-url("categories/history.png") no-repeat;
  }
  #science {
  	background: image-url("categories/science.png") no-repeat;
  }
  #art {
  	background: image-url("categories/art.png") no-repeat;
  }
  #entertainment {
  	background: image-url("categories/entertainment.png") no-repeat;
  }
}

#loader {
	background: @header;
	color: @lightgray;
	width: 100%;
	height: 100%;
	margin-top: -60px;
	.container {
		width: 300px;
		margin-left: auto;
		margin-right: auto;
		padding-top: 250px;
		text-align: center;
		.fa {
			display: block;
			font-size: 2em
		}
	}
}

