@import url(http://fonts.googleapis.com/css?family=Lobster);

/* typo */

h2 {
	font-size: 1.6em;
	font-family: arial;
}
#city h2 {
  color: @sky-section;
}
#ocean h2 {
	color: @black;
	text-transform: uppercase;
}