// variables of colour and mixings

@black: #000;
@darkgray: #222;
@lightgray: #dfdfdf;
@red: #eb615f;
@blue: #14b6b6;
@dark-blue: #007f9b;

// layout
@header: @darkgray;

// section colours
@space-section: @black;
@sky-section: @blue;
@city-section: @lightgray;
@ocean-section: @dark-blue;
