
Your name:
%input{name: 'player_name', id: 'player_name'}
%button{id: 'join_game'}
  Join


%br

Players waiting:
%ul#players
  - @players.each do |player|
    %li= player['name']


= image_tag 'site_mockup.jpg'
