#player-name
  Your name:
  %input{name: 'player_name', id: 'player_name'}
  %button{id: 'join_game'}
    Join


%br

Players waiting:
%ul#players
  - @players.each do |name|
    %li= name

#chat.hidden
  #chat-controls
    %input{name: 'chat', id: 'chat_input'}
    %button{id: 'chat_send'}
      Say
  #chat-content


%button.hidden{id: 'start_game'}
  Start game


#game.hidden
  #question
  %ul#answers

%section#homepage
  %article#space.parallax-img-container
  %article#sky.parallax-img-container
  %article#city.parallax-img-container
  %article#ocean.parallax-img-container
